
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: Segoe UI,sans-serif; 
    font-size: 1.4rem;
    background: #ffffff;
}
.headeing-primary {
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    margin-top: 5rem;
}
.plan-section {
    display: flex;
    flex-direction: row;
    padding: 5rem 3rem;
    overflow-x: auto;
}
.plan-section::-webkit-scrollbar{
    display: none;
}
.plan-section .basic-plan {
    min-width: 23.4rem;
    text-align: center;
}
.basic-plan .active {
    color: #ffffff;
    background: linear-gradient(#4346e1, #404186);
}
/* .basic-plan .colam-color:hover {
    color: #ffffff;
    background: linear-gradient(#4346e1, #404186);
    transition: 0.3s;
} */
.plan-section .basic-plan .plan-heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.plan-section .basic-plan .plan-heading1 {
    /*background: #4042bf; */
    padding: 0.8rem 5rem 3.8rem 0.8rem;
    color: #000000;
    text-align: left;
    font-weight: 500;
    display: block;
    border: 0.1rem solid #cccccc;
}
.plan-section .basic-plan .plan-features {
    text-align: center;
    margin-top: 0;
}
.plan-section .basic-plan .plan-features .plan-item {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.6;
    text-align: left;
    padding-left: .8rem;
    border: 0.01rem solid #cccccc;
}
.plan-section .basic-plan .plan-features .plan-item1 {
  
    border: 0.01rem solid #cccccc;
}
.plan-section .basic-plan .plan-features .items {
    text-align: center !important;
}
.fas {
    font-size: 1.4rem;
    line-height: 2.6;
}
.plan-section .basic-plan .plan-check {
    border: 0.01rem solid #cccccc;
}
.plan-section .basic-plan .check1 {
    margin-top: 0;
}
.plan-section .basic-plan .plan-features .check2 {
    margin-top: 7.5rem;
}
.basic-plan .basic2 {
    padding-bottom: 1.9rem;
}
.fa-times {
    color: #eb3913;
}
.fa-dollar-sign {
    font-size:  1.8rem;
}
.plan-value {
    font-size: 2.6rem;
    font-weight: 500;
}
.basic-plan .btn-select {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
    background: #4346e1;
    padding: 0.8rem 6rem;
    border-radius: 1rem;
    line-height: 5;
    border: 0.1rem solid #797979;
 }
.basic-plan .btn-select:hover {
    color: #000000;
    background: #ffffff;
    transition: 0.5s;
 }
