
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-family: Segoe UI,sans-serif; 
    font-size: 1.4rem;
    background: #ffffff;
}
.heading-primary {
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 5rem;
}
.pricing-table {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 5rem 3rem;
}

.pricing-table::-webkit-scrollbar{
    display: none;
}
.pricing-list .list-item {
    text-align: left;
    padding-left: 10px;
}
.pricing-list {
    min-width: 25rem;
    text-align: center;
}
.active {
    color: #ffffff;
    background: linear-gradient(#4346e1, #404186);
}
.pricing-list ul li {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6;
    text-align: center;
    border: 1px solid #cccccc;
}
.pricing-list ul li h3 {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.6;
}
.pricing-list ul li .list-heading {
    padding: 1rem;
    line-height: 2.7;
}
.pricing-list ul li .list-heading2 {
    padding: 4px;
}
.pricing-list ul li .spacing {
    padding: 42px;
}
.pricing-list ul li .spacing2 {
    padding: 20.5px;
}
.pricing-list .btn-select {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
    background: #4346e1;
    padding: 0.8rem 6rem;
    border-radius: 1rem;
    line-height: 5;
    border: 0.1rem solid #797979;
}
.pricing-list .btn-select:hover {
    color: #000000;
    background: #ffffff;
    transition: 0.5s;
}
